nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%;
    height: 100%;

    .logoMenu {
        img {
            width: 3.5rem;
            object-fit: contain;
            filter: drop-shadow(5px 5px 5px #00000022);
        }
    }

    .light {
        a {
            color: #f3f3f3;
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        a:hover {
            color: #95f20a
        }
    }

    .dark {
        a {
            color: #201e1e;
            transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        a:hover {
            color: #62a500
        }
    }

    .links,
    .linksOff {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .options {
            display: flex;
            align-items: center;
            margin-left: 2rem;
            width: 100%;

            a {
                font-weight: 600;
                text-decoration: none;
                margin-left: .75rem;
                margin-right: .75rem;
            }

            #iconShadow {
                text-align: center;
                padding: .5rem;
                width: 6rem;
                background-color: #62a500;
                color: #fff;
                border: 2px solid #62a500;
                border-radius: 25px;
                animation: rotateIcon 0.25s ease-in-out forwards;
            }

            #iconShadow:hover {
                background-color: transparent;
                color: #201e1e;
            }

            #buttonMenu {
                text-align: center;
                font-weight: 500;
                padding: .75rem;
                background-color: #62a500;
                color: #fff;
                width: 8rem;
                border-radius: 25px;
            }

            #buttonMenu:hover {
                background-color: transparent;
                border: 2px solid #62a500;
                color: #323232;
            }
        }

        .iconsApresentation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 4rem;

            #iconShadowLink {
                cursor: pointer;
                filter: drop-shadow(1px 2px 2px 1px #00000022);
            }
        }

    }

    .icons {
        display: none;
    }
}


@media(max-width: 935px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 6rem;
        background-color: #fff;
        box-shadow: 2px 2px 4px 2px #00000015;

        .icons {
            display: flex;
            z-index: 1;

            #iconShadow {
                cursor: pointer;
                animation: rotateIcon 0.25s ease-in-out forwards;
            }
        }

        @keyframes rotateIcon {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(180deg);
            }
        }

        .light {
            a {
                color: #f3f3f3;
                transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            a:hover {
                color: #ecfad8
            }
        }

        .dark {
            a {
                color: #fff;
                transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            a:hover {
                color: #dde6d1
            }
        }

        .links,
        .linksOff {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            background-color: #62a500;
            border-radius: 0px 0px 15px 15px;
            transition: all 0.25s cubic-bezier(0.46, 0.35, 0, 0.88);

            .iconsApresentation {
                width: 100%;
                justify-content: center;

                #iconShadowLink {
                    cursor: pointer;
                    margin-bottom: 4rem;
                    background-color: #fff;
                    border-radius: 50%;
                    padding: .75rem;
                    width: 3rem;
                    height: 3rem;
                    margin-left: .5rem;
                    margin-right: .5rem;
                    box-shadow: 1px 2px 2px 2px #00000015;
                }
            }

            .options {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 0rem;
                width: 100%;
                height: 60vh;


                a {
                    font-weight: 700;
                    font-size: 1.5rem;
                    text-decoration: none;
                    padding: 2rem;
                    margin-left: 0rem;
                    margin-right: 0rem;
                    margin-bottom: .5rem;
                    margin-top: .5rem;
                }


                #buttonMenu {
                    text-align: center;
                    font-weight: 400;
                    padding: .75rem;
                    background-color: #323232;
                    color: #fff;
                    width: 35%;
                    border-radius: 25px;
                }

                #buttonMenu:hover {
                    background-color: transparent;
                    border: 2px solid #fff;
                    color: #fff;
                }
            }
        }

        .linksOff {
            position: absolute;
            top: -60vh;
            left: 0;
            visibility: hidden;
        }

        .links {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media(max-width: 525px) {
    nav {
        .logoMenu {
            img {
                width: 3.5rem;
            }
        }

        .links,
        .linksOff {
            .options {
                justify-content: center;
                height: 60vh;

                a {
                    margin-bottom: .75rem;
                    margin-top: .75rem;
                    padding: 1.5rem;
                }
            }
        }
    }
}

@media(max-width: 410px) {
    nav {
        .logoMenu {
            img {
                width: 3rem;
            }
        }

        .links,
        .linksOff {
            .options {
                a {
                    font-size: 1.325rem;
                }

                #buttonMenu {
                    width: 60%;
                }
            }
        }
    }
}