* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f3f3f3;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #62a500;
    border-radius: 15px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #59831c;
  }
}